.search {
  padding: 10px;
  max-width: 500px;
  width: 100%;
  margin: 20px 0;
  border-radius: 128px;
  font-style: italic;
}

.result {
  position: fixed;
  background-color: #fff;
  left: 23%;
  width: 100%;
  max-width: 740px;
}
