.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.paginationBtn {
  padding: 5px;
  margin-left: 5px;
  border: 1px solid #cccccc;
}

.active {
  background-color: #cccccc;
}
.sorting {
  display: flex;
  justify-content: flex-end;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}
.sorting select {
  padding: 10px;
}
