.wrapper {
  box-shadow: 1px 2px 2px 4px #cccccc;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  box-sizing: border-box;
}

.label {
  margin-right: 8px;
}

.input {
  padding: 4px 8px;
  margin-top: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 100%;
  max-width: 250px;
}

.error {
  border: 1px solid #c21f39;
  background-color: #f6c6ce;
  color: #c21f39;
  padding: 5px 10px;
  width: 100%;
  max-width: 250px;
  border-radius: 4px;
  margin: 0 auto;
}
